/*============== */
/*VARIABLES */
/*============== */

:root {
    --gray-1:#f4f4f4;
    --gray-2:#dbdcdc;
    --gray-3:#686868;
    --gray-4:#444746;

    --blue-1:#f6f8fc;
    --blue-2:#e9f2fe;
    --blue-3:#cedeef;
    --blue-4:#bad2e8;
    --blue-5:#3f7bdc;
    --blue-6:#2862b5;
    
    --green-1:#e8f9f9;
    --green-2:#c7e0df;

    --yellow-1:#f9f1e8;


    --background-color:white;
    --icon-color:var(--gray-4);
    --text-color:var(--gray-4);
    --border-color:var(--gray-2);
    --selected-color: var(--gray-1);
    --selected-icon-hover-color: var(--gray-2);
    --active-color:var(--blue-2);
    --active-color-hover:var(--blue-3);
    --active-icon-hover-color:var(--blue-4);
    --toolbar-color:var(--gray-1);
    --toolbar-hover-color:var(--gray-2);
    --save-color:var(--green-1);
    --save-hover-color:var(--green-2);
    --quotebox-color:var(--yellow-1);
    --encounterbox-color:var(--blue-1);
    --encounterbox-icon-hover-color:var(--blue-2);
    --chip-border-color:var(--gray-4);
    --chip-active-color:var(--gray-4);
    --chip-active-text-color:white;
    --clickable-text-color:var(--blue-5);
    --clickable-text-hover-color:var(--blue-6);
    --active-row-input:var(--blue-6);

    --alt-font:"Source Code Pro";
  }

/*============== */
/*GENERAL */
/*============== */

  h1,h2,h3,h4{
    margin:0;
    font-weight: normal;
}

body {
    margin:0;
    font-family: "Roboto", sans-serif;
    font-size:14px;
    color:var(--text-color);
}

#app{
    display:flex;
}

i{
    color:var(--icon-color);
}

button{
    height:30px;
    color:var(--text-color);
    border-radius:5px;
    cursor:pointer;
}

.icon-btn{
    border:none;
    width:30px;
    background-color: transparent;
}

.icon-btn:hover{
    background-color:var(--selected-icon-hover-color);
}


/*============== */
/*LEFT COLUMN */
/*============== */

#left{
    min-width:20%;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color:var(--border-color);
    height:100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: var(--background-color);
}

/*Notebook Options */

#notebook-options{
    padding:20px 30px;
    display:flex;
    align-items:center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color:var(--border-color);

}

#notebook-select{
    padding:5px;
    margin-right:10px;
    font-size: 14px;
    border-radius: 5px;
    border-width: 2px;
    border-color:var(--border-color);
    flex-grow:1;
    min-width:0;
    outline: none; 
}

/*Tab List */

#page-list{
    padding:20px 25px;
}

#add-page{
    padding:0px 25px;
}

/* General Header Styles */
.page-header, .subpage-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 5px;
    position: relative;
}

/* Subpage-specific Padding */
.subpage-header {
    padding-left: 20px;
}

/* Hover Effects */
.page-header:hover, .subpage-header:hover {
    background-color: var(--selected-color);
}

/* Button Container Styles */
.page-header-buttons, .subpage-header-buttons {
    display: flex;
    gap: 0;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    position:absolute;
    right:5px;
}

.page-header.active-page .page-header-buttons,
.subpage-header.active-page .subpage-header-buttons{
    opacity: 1;
}


/* Show Buttons on Hover */
.page-header:hover .page-header-buttons,
.subpage-header:hover .subpage-header-buttons {
    opacity: 1;
}

/* Name Section */
.page-header-name, .subpage-header-name {
    display: flex;
    align-items: center;
    width: 75%;
    overflow:hidden;
}

/* Icon Button Styles */
.page-icon-btn {
    border: none;
    height: 25px;
    width: 25px;
    background-color: transparent;
}

.page-icon-btn:hover {
    background-color: var(--selected-icon-hover-color);
}

/* Active State Styles */
.page-header.active-page, .subpage-header.active-page {
    background-color: var(--active-color);
}

.page-header.active-page:hover, .subpage-header.active-page:hover {
    background-color: var(--active-color-hover);
}

/* Active Icon Button Hover */
.page-header.active-page .page-header-buttons .page-icon-btn:hover,
.subpage-header.active-page .subpage-header-buttons .page-icon-btn:hover {
    background-color: var(--active-icon-hover-color);
}

/* Tab Name Ellipsis */
span.page-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

/* Interpunct Button */
.interpunct {
    width: 25px;
    text-align: center;
    background-color: transparent;
    border: none;
}
  #add-page{
    margin-top:10px;
}

.add-btn{
    border-color: var(--border-color);
    border-style:solid;
    border-width: 2px;
    background-color:transparent;
    padding-right:15px;
}

.add-btn i{
    width:25px;
}


/*============== */
/*CONTENT COLUMN */
/*============== */

#middle{
    width:40%;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    transform:translateX(0);
    transition: none;
    align-items:center;
    ;
}

#content-header{
    width:100%;
    display:flex;
    align-items: left;
    justify-content:flex-end;
    height:30px;
}


#content-content{
    line-height:1.8;
    font-size:16px;
    display:flex;
    flex-direction: column;
    width:100%;
}

#content-button{
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    z-index: 1;
}

#middle:hover #content-button{
    opacity:1;
}

#save-button{
    display:none;
    border:none;
    background-color:var(--save-color);
}

#save-button:hover{
    background-color:var(--save-hover-color);
}

h1{
    padding-right:40px;
}

blockquote{
    padding:10px;
    margin:10px 0;
    background-color:var(--quotebox-color);
    border-radius: 5px;
    font-style: italic;
}

[contenteditable] {
    outline: 0px solid transparent;
  }

/*Encounter*/

ul{
    width:100%;
}

.encounter{
    padding:10px;
    margin:10px;
    background-color:var(--encounterbox-color);
    border-radius: 5px;
    font-size: 14px;
}

.encounter-header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:0 10px 0;
}

.encounter-chips{
    margin:0 10px 0;
    display:flex;
    gap:10px;
    display:flex;
    gap:10px;
    flex-wrap:wrap;
}

.encounter-title>h4{
    font-weight:bold;
}

.encounter-buttons{
    opacity:0;
    transition: opacity 0.1s ease-in-out;
}

.encounter-content {
    display:flex;
    flex-direction: column;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    font-size: 12px;
    line-height: 1.1;
    padding:0px 10px 0px 10px;
}

.encounter-content > h2 {
    display:none;
}

.encounter-content> *{
    margin:0;
    padding:0;
}


.encounter:hover .encounter-buttons{
    opacity:1;
}

.encounter-buttons>button:hover{
    background-color: var(--encounterbox-icon-hover-color);
}



/*Statblock*/

.rollable{
    color: var(--clickable-text-color);
    cursor:pointer;
}

.rollable:hover{
    color: var(--clickable-text-hover-color);
}

/*============== */
/*RIGHT COLUMN */
/*============== */
#right{
    min-width:20%;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color:var(--border-color);
    height:100vh;
    display: flex;

    flex-direction: column;
    position: fixed;
    background-color: var(--background-color);
}
  /*============== */
/*INITIATIVE TRACKER */
/*============== */

#initiative-tracker{
    width:100%;
    padding:10px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color:var(--border-color);

}

#initiative-tracker-content{
    padding:10px;
    display:grid;
}

#initiative-tracker-header-row,.initiative-tracker-combatant-row{
    display:grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    align-items: center;
    text-align:center;
}

input{
    min-width:0px;
}

.initiative-tracker-combatant-row input {
    appearance:none;
    height:25px;
    border-style:solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: var(--border-color);
    margin:2px;
    text-align:center;
}

.active-row input{
    border-color:var(--active-row-input);
}

#initiative-tracker-buttons{
    padding:10px;
    display:flex;
    justify-content:space-between;
    margin-right:20px;
}

  /*============== */
/*MENU */
/*============== */

.menu {
    width: 120px;
    box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 0.1);
    position: absolute;
    background: white;
    display: none; /* Initially hidden */
    border-radius: 5px;
    z-index: 10;
    pointer-events:none;
  }
  .menu-options {
    list-style: none;
    padding: 10px 0;
    margin: 0;
  }
  .menu-option {
    font-size: 14px;
    padding: 10px 40px 10px 20px;
    cursor: pointer;
  }

  .menu-option:hover {
  }
  

  /*============== */
/*Toggles */
/*============== */

.toggle-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--background-color);
    color: var(--icon-color);
    border: solid;
    border-width: 2px;
    border-color: var(--border-color);
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:5;
}

  .left-toggle {
    right: -15px;
    top:90px;
}

.right-toggle {
    left: -15px;
    top:90px;
}

#left.active,#right.active {
    transform: translateX(0);
}
#left {
    left: 0;
    transform: translateX(calc(-100% + 30px));
    transition: transform 0.3s ease, width .3s ease-in-out;
    width:20%;
    z-index:1;
}

#left>div, #right>div{
    opacity:0;
    transition: opacity .3s ease-in-out;
}

#left.active>div,#right.active>div{
    opacity:1;
}

#right {
    right: 0;
    transform: translateX(calc(100% - 30px));
    transition: transform 0.3s ease, width .3s ease-in-out, max-width .3s ease-in-out;
    max-width: 30%;
    z-index:1;
}


  /*============== */
/*Responsive */
/*============== */


@media only screen and (max-width: 1000px) {
    #left, #right{
        width:35%;
        max-width:35%;
    }
    #middle
    {
        width: 400px;
    }
}

@media only screen and (max-width: 705px) {
    #left, #right{
        width:90%;
        max-width:90%;
        visibility: hidden;
    }

    #left>button, #right>button {
        visibility: visible;
    }

    #left.active, #right.active{
        visibility: visible;
    }

}

@media only screen and (max-width: 450px) {
    #left, #right{
        width:90%;
        max-width:90%;
        visibility: hidden;
    }

    #left>button, #right>button {
        visibility: visible;
    }

    #left.active, #right.active{
        visibility: visible;
    }

    #middle
    {
        width: 80%;
    }
}

  /*============== */
/*Editor */
/*============== */

.chip-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    border: 1px solid #ddd;
    min-height: 40px;
    cursor: text;
    position: relative;
}
.chip {
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    padding: 5px 10px;
    margin: 3px;
    border-radius: 15px;
    white-space: nowrap;
    z-index:1;
}
.chip span {
    margin-right: 5px;
}
.chip button {
    background: none;
    border: none;
    cursor: pointer;
}
.monster-input {
    flex: 1;
    min-width: 100px;
    border: none;
    outline: none;
    padding: 5px;
}
.autocomplete-list {
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 1000;
}
.autocomplete-item {
    padding: 8px;
    cursor: pointer;
}
.autocomplete-item:hover {
    background-color: #f0f0f0;
}

.hidden{
    display:none;
}
#editorjs {
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.clone-monster{
    display:none;
}

  /*============== */
/*Snackbar */
/*============== */

#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #323232;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 12px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#snackbar.show {
    visibility: visible;
    opacity: 1;
}
