/*============== */
/*VARIABLES */
/*============== */
:root {
    --gray-1:#f4f4f4;
    --gray-2:#dbdcdc;
    --gray-3:#686868;
    --gray-4:#444746;

    --blue-1:#f6f8fc;
    --blue-2:#e9f2fe;
    --blue-3:#cedeef;
    --blue-4:#bad2e8;
    --blue-5:#3f7bdc;
    --blue-6:#2862b5;
    
    --green-1:#e8f9f9;
    --green-2:#c7e0df;

    --yellow-1:#f9f1e8;


    --background-color:white;
    --icon-color:var(--gray-4);
    --text-color:var(--gray-4);
    --border-color:var(--gray-2);
    --selected-color: var(--gray-1);
    --selected-icon-hover-color: var(--gray-2);
    --active-color:var(--blue-2);
    --active-color-hover:var(--blue-3);
    --active-icon-hover-color:var(--blue-4);
    --toolbar-color:var(--gray-1);
    --toolbar-hover-color:var(--gray-2);
    --save-color:var(--green-1);
    --save-hover-color:var(--green-2);
    --quotebox-color:var(--yellow-1);
    --encounterbox-color:var(--blue-1);
    --encounterbox-icon-hover-color:var(--blue-2);
    --chip-border-color:var(--gray-1);
    --chip-color:var(--gray-2);
    --chip-active-color:var(--gray-4);
    --chip-active-text-color:white;
    --clickable-text-color:var(--blue-5);
    --clickable-text-hover-color:var(--blue-6);
    --active-row-input:var(--blue-6);

    --alt-font:"Source Code Pro";
  }

  .dark-mode {
    --gray-1:#2e2e2e;
    --gray-2:#3a3a3a;
    --gray-3:#585858;
    --gray-4:#cccccc;

    --blue-1:#2e2e2e;
    --blue-2:#2e2e2e;
    --blue-3:#2e2e2e;
    --blue-4:#3a3a3a;
    --blue-5:#585858;
    --blue-6:#89CFF0;
    
    --green-1:#1d3b3b;
    --green-2:#2b5a59;

    --yellow-1:#2e2e2e;

    --background-color:#121212;
    --icon-color:var(--gray-4);
    --text-color:#e0e0e0;
    --border-color:var(--gray-2);
    --selected-color: var(--gray-2);
    --selected-icon-hover-color: var(--gray-3);
    --active-color:var(--blue-3);
    --active-color-hover:var(--blue-4);
    --active-icon-hover-color:var(--blue-5);
    --toolbar-color:var(--gray-2);
    --toolbar-hover-color:var(--gray-3);
    --save-color:var(--green-1);
    --save-hover-color:var(--green-2);
    --quotebox-color:var(--yellow-1);
    --encounterbox-color:var(--blue-1);
    --encounterbox-icon-hover-color:var(--blue-2);
    --chip-border-color:var(--gray-3);
    --chip-color:var(--gray-2);
    --chip-active-color:var(--gray-3);
    --chip-active-text-color:white;
    --clickable-text-color:var(--blue-6);
    --clickable-text-hover-color:var(--blue-6);
    --active-row-input:var(--blue-6);
}

::selection {
    background: var(--gray-1) !important;
  }

/*============== */
/*GENERAL */
/*============== */

  h1,h2,h3,h4{
    margin:0;
    font-weight: normal;
}
::-webkit-scrollbar {
    display: none;
}
body {
    margin:0;
    font-family: "Roboto", sans-serif;
    font-size:14px;
    color:var(--text-color);
    background-color: var(--background-color);
    color: var(--text-color);

}

#app{
    display:flex;
}

i{
    color:var(--icon-color);
}

button{
    height:30px;
    color:var(--text-color);
    border-radius:5px;
    cursor:pointer;
}

.icon-btn{
    border:none;
    width:30px;
    background-color: transparent;
}

.icon-btn:hover{
    background-color:var(--selected-icon-hover-color);
}


/*============== */
/*LEFT COLUMN */
/*============== */

#left{
    min-width:20%;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color:var(--border-color);
    height:100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: var(--background-color);
}

/*Notebook Options */

#notebook-options{
    padding:20px 30px;
    display:flex;
    align-items:center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color:var(--border-color);

}

#notebook-select{
    padding:5px;
    margin-right:10px;
    font-size: 14px;
    border-radius: 5px;
    border-width: 2px;
    border-color:var(--border-color);
    flex-grow:1;
    min-width:0;
    outline: none; 
    background-color: var(--background-color);
    color: var(--text-color);
}

/*Tab List */

#page-list{
    padding:20px 25px;
}

#add-page{
    padding:0px 25px;
}

/* General Header Styles */
.page-header, .subpage-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 5px;
    position: relative;
}

/* Subpage-specific Padding */
.subpage-header {
    padding-left: 20px;
}

/* Hover Effects */
.page-header:hover, .subpage-header:hover {
    background-color: var(--selected-color);
}

/* Button Container Styles */
.page-header-buttons, .subpage-header-buttons {
    display: flex;
    gap: 0;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    position:absolute;
    right:5px;
}

.page-header.active-page .page-header-buttons,
.subpage-header.active-page .subpage-header-buttons{
    opacity: 1;
}


/* Show Buttons on Hover */
.page-header:hover .page-header-buttons,
.subpage-header:hover .subpage-header-buttons {
    opacity: 1;
}

/* Name Section */
.page-header-name, .subpage-header-name {
    display: flex;
    align-items: center;
    width: 75%;
    overflow:hidden;
}

.page-subpages.collapsed {
    display: none;
}

/* Icon Button Styles */
.page-icon-btn {
    border: none;
    height: 25px;
    width: 25px;
    background-color: transparent;
}

.page-icon-btn:hover {
    background-color: var(--selected-icon-hover-color);
}

/* Active State Styles */
.page-header.active-page, .subpage-header.active-page {
    background-color: var(--active-color);
}

.page-header.active-page:hover, .subpage-header.active-page:hover {
    background-color: var(--active-color-hover);
}

/* Active Icon Button Hover */
.page-header.active-page .page-header-buttons .page-icon-btn:hover,
.subpage-header.active-page .subpage-header-buttons .page-icon-btn:hover,
.page-header.active-page .page-icon-btn:hover,
.subpage-header.active-page .page-icon-btn:hover
{
    background-color: var(--active-icon-hover-color);
}

/* Tab Name Ellipsis */
span.page-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

.fa-circle {
    font-size: 0.2rem;
    margin-bottom:9px;
  }

  #add-page{
    margin-top:10px;
}

.add-btn{
    border-color: var(--border-color);
    border-style:solid;
    border-width: 2px;
    background-color:transparent;
    padding-right:15px;
}

.add-btn i{
    width:25px;
}

.dark-mode-btn {
    margin: auto;
    margin-bottom:10px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--border-color);
    cursor: pointer;
    background: none;
    color: var(--text-color);
    border-radius: 20px;
}

.dark-mode-btn:hover {
    background: var(--gray-1);
}
/*============== */
/*CONTENT COLUMN */
/*============== */

#middle{
    width:45%;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    transform:translateX(0);
    transition: none;
    align-items:center;
    ;
}

#content-header{
    width:100%;
    display:flex;
    align-items: left;
    justify-content:flex-end;
    height:30px;
}


#content-content{
    line-height:1.4;
    font-size:14px;
    display:flex;
    flex-direction: column;
    width:100%;
}

#content-button{
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    z-index: 1;
}

#middle:hover #content-button{
    opacity:1;
}

#save-button{
    display:none;
    border:none;
    background-color:var(--save-color);
}

#save-button:hover{
    background-color:var(--save-hover-color);
}

h1{
    padding-right:40px;
}

blockquote{
    padding:10px;
    margin:10px 0;
    background-color:var(--quotebox-color);
    border-radius: 5px;
    font-style: italic;
}

[contenteditable] {
    outline: 0px solid transparent;
  }

/*Encounter*/

.encounter ul {
    display: flex;
    flex-wrap: wrap; /* Ensures items wrap to the next line */
    gap: 10px; /* Optional: Adds space between items */
    padding: 0;
    list-style: none;
  }
  
.encounter{
    padding:10px;
    background-color:var(--encounterbox-color);
    border-radius: 5px;
    font-size: 12px;
    line-height:1.1;
}

table{
    margin:auto;
    display:table;
    padding:5px;
    width:100%;
}

.encounter-content {
    display:flex;
    flex-direction: column;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    font-size: 12px;
    line-height: 1.1;
    padding:0px 10px 0px 10px;
}

.monster-content > h2, #statblock-content > h2  {
    display:none;
}

.delete-monster-btn{
    color: var(--clickable-text-color);
    border:none;
    background-color: transparent;
    height:min-content;
    font-size: 12px;
    margin-left:5px;
}


.delete-monster-btn:hover{
    color: var(--clickable-text-hover-color);
    background-color: var(--active-color-hover);
}

/*Statblock*/

.rollable{
    color: var(--clickable-text-color);
    cursor:pointer;
}

.rollable:hover{
    color: var(--clickable-text-hover-color);
}


.roll-initiative{
    border:none;
    background-color:transparent;
    color:var(--clickable-text-color);
    margin-top:10px;
}

.roll-initiative>i{
    font-style: normal;
    padding-right:5px;
    color: var(--clickable-text-color);
}
/*============== */
/*RIGHT COLUMN */
/*============== */
#right{
    min-width:20%;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color:var(--border-color);
    height:100vh;
    display: flex;

    flex-direction: column;
    position: fixed;
    background-color: var(--background-color);
}
  /*============== */
/*INITIATIVE TRACKER */
/*============== */

#initiative-tracker{
    width:100%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color:var(--border-color);
}

#initiative-tracker-content, #party-member-section {
    padding:10px;
    padding-left:20px;
    display:grid;
}
#party-member-section{
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color:var(--border-color);
}


#initiative-tracker-header-row,.initiative-tracker-combatant-row{
    display:grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    align-items: center;
    text-align:center;
}

input{
    min-width:0px;
    background-color: var(--background-color);
    color:var(--text-color);
}

.initiative-tracker-combatant-row input {
    appearance:none;
    height:25px;
    border-style:solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: var(--border-color);
    margin:2px;
    text-align:center;
}

.active-row input{
    border-color:var(--active-row-input);
}

#initiative-tracker-buttons{
    padding:10px;
    display:flex;
    justify-content:space-between;
    margin-right:20px;
}

#initiative-divider {
    border-top: 2px solid var(--border-color);
    margin: 10px -10px;
    width: 100%;
}

.party-member-row {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}

.party-member-row input {
    appearance: none;
    height: 25px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: var(--border-color);
    margin: 2px;
    text-align: center;
}

.party-member-row button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}

.party-member-row button:hover {
    color: var(--clickable-text-hover-color);
}

#statblock-display {
    background-color: var(--background-color);
    color: var(--text-color);
    display:flex;
    flex-grow:1;
    overflow-y: auto;
    flex-direction:column;

}

#statblock-content ul{
        display: flex;
        flex-wrap: wrap; /* Ensures items wrap to the next line */
        gap: 10px; /* Optional: Adds space between items */
        padding: 0;
        list-style: none;

      }
      
      #statblock-content{
        padding:10px;
        border-radius: 5px;
        font-size: 12px;
        line-height:1.1;
        }
    
    
    #statblock-content {
        font-size: 12px;
        line-height: 1.1;
    }

    #statblock-spacer {
        height:20px;
    }
  /*============== */
/*MENU */
/*============== */

.menu {
    width: 120px;
    box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 0.1);
    position: absolute;
    background: var(--background-color);
    border-color:var(--border-color);
    border-style: solid;
    border-width: 1px;
    display: none; /* Initially hidden */
    border-radius: 5px;
    z-index: 20;
  }
  .menu-options {
    list-style: none;
    padding: 10px 0;
    margin: 0;
  }
  .menu-option {
    font-size: 14px;
    padding: 10px 40px 10px 20px;
    cursor: pointer;
}

  .menu-option:hover {
    cursor:pointer;
    background-color: var(--selected-color);
 }
  
#background-blocker{
    display:none;
    background-color:transparent;
    position:fixed;
    height: 100%;
    width: 100%;
    left:0;
    top:0;
    z-index:2;
}
  /*============== */
/*Toggles */
/*============== */

.toggle-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--background-color);
    color: var(--icon-color);
    border: solid;
    border-width: 2px;
    border-color: var(--border-color);
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:5;
}

  .left-toggle {
    right: -15px;
    top:90px;
}

.right-toggle {
    left: -15px;
    top:90px;
}

#left.active,#right.active {
    transform: translateX(0);
}
#left {
    left: 0;
    transform: translateX(calc(-100% + 30px));
    transition: transform 0.3s ease, width .3s ease-in-out;
    width:20%;
    z-index:1;
}

#left>div, #right>div{
    opacity:0;
    transition: opacity .3s ease-in-out;
}

#left.active>div,#right.active>div{
    opacity:1;
}

#right {
    right: 0;
    transform: translateX(calc(100% - 30px));
    transition: transform 0.3s ease, width .3s ease-in-out, max-width .3s ease-in-out;
    max-width: 30%;
    z-index:1;
}


  /*============== */
/*Responsive */
/*============== */


@media only screen and (max-width: 1000px) {
    #left, #right{
        width:35%;
        max-width:35%;
    }
    #middle
    {
        width: 400px;
    }
}

@media only screen and (max-width: 705px) {
    #left, #right{
        width:90%;
        max-width:90%;
        visibility: hidden;
    }

    #left>button, #right>button {
        visibility: visible;
    }

    #left.active, #right.active{
        visibility: visible;
    }

}

@media only screen and (max-width: 450px) {
    #left, #right{
        width:90%;
        max-width:90%;
        visibility: hidden;
    }

    #left>button, #right>button {
        visibility: visible;
    }

    #left.active, #right.active{
        visibility: visible;
    }

    #middle
    {
        width: 80%;
    }
}

  /*============== */
/*Editor */
/*============== */

.chip-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 40px;
    cursor: text;
    position: relative;
    background-color:transparent;
}
.chip {
    display: flex;
    align-items: center;
    background-color: var(--chip-color);
    padding: 0px 10px;
    margin: 3px;
    border-radius: 15px;
    white-space: nowrap;
}

.chip.active{
    background-color: var(--chip-active-color);
    color:var(--chip-active-text-color);
}

.chip.active button{
    color:var(--chip-active-text-color);
}
.chip span {
    margin-right: 5px;
}
.chip button {
    background: none;
    border: none;
    cursor: pointer;
}
.monster-input {
    flex: 1;
    min-width: 100px;
    border: none;
    outline: none;
    padding: 5px;
    z-index:10;
    background-color:transparent;
}
textarea{
    width:100%;
    min-height:300px;
}
.autocomplete-list {
    position: absolute;
    background: var(--background-color);
    border: 1px solid var(--border-color);
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 11;
    display:none;
}
.autocomplete-item {
    padding: 8px;
    cursor: pointer;
}
.autocomplete-item:hover {
    background-color: var(--gray-1);
}

.hidden{
    display:none;
}
#editorjs {
    background: var(--background-color);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.clone-monster{
    display:none;
}

  /*============== */
/*Editor.JS */
/*============== */

.codex-editor{
    position:inherit;
    z-index:auto;
}
.ce-toolbox-search {
    display: none !important;
  }
  .ce-popover__search {
    display: none !important;
  }

  .ce-toolbox__button,  .ce-popover-item,  .ce-popover-item__title {
    font-family: "Roboto", sans-serif;
    font-size: 14px; /* Adjust size */
    color: var(--text-color); /* Change text color */
    font-weight: normal;
  }

  .ce-popover__container {
    animation: none !important;
    transition: none !important;
    transform: none !important;
      border-radius: 5px;
      height:fit-content !important;
      background-color: var(--background-color);
      border-color: var(--border-color) !important;
  }

  .ce-popover-item:hover {
    background-color: var(--gray-1) !important;
  }

  .ce-toolbar{
    z-index:10;
  }

  .cdx-quote__caption {
    display: none !important;
  }

  .cdx-quote__text{
    border:none;
    min-height:0px !important;
  }

  .cdx-input{
    border:none;
    box-shadow:none;
  }

  .ce-inline-toolbar {
    margin-top:30px;
}

svg {
    color:var(--text-color);
}

.ce-toolbar__settings-btn:hover {
    background:var(--gray-1);
}

.ce-toolbar__plus:hover {
    background:var(--gray-1);
}

.ce-block--selected .ce-block__content{
    background: var(--gray-1) !important;
}

.ce-inline-toolbar{
  }
  /*============== */
/*Snackbar */
/*============== */

#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #323232;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 12px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#snackbar.show {
    visibility: visible;
    opacity: 1;
}

a{
    color: var(--text-color);
    text-decoration: none !important;
    border-bottom-color: var(--blue-6);
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
